<hr class="comparison-divider">
<div class="divider_titles">
  <h3>{{ block.settings.first_title }}</h3>
  <h3>{{ block.settings.second_title }}</h3>
  <h3>{{ block.settings.third_title }}</h3>
</div>