<div class="comparison-images">
  <img src="{{ block.settings.first_image | image_url }}" width="250" height="auto" loading="lazy" alt>
  <img src="{{ block.settings.second_image | image_url }}" width="250" height="auto" loading="lazy" alt>
  <img src="{{ block.settings.third_image | image_url }}" width="250" height="auto" loading="lazy" alt>
</div>