/* Multicolumn */
.multicolumn h2 {
  text-align: center;
  display: block;
  width: 100%;
}

.multicolumn-list__item.center .media--adapt { 
  max-width: 110px;
  margin: 0 auto;
}
.multicolumn-list__item.center .media--adapt img { 
  height: auto;
  bottom: 50%;
  transform: translate(-50%, 50%);
  top: unset;
}

.multicolumn-list__item {
  margin: 0 !important;
  padding: 0 2rem;
  width: calc(100vw - 4rem) !important;
}

.multicolumn-card__info {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

@media screen and (min-width: 750px) {
  .multicolumn h3,
  .multicolumn p {
    max-width: 85%;
    margin: 0 auto !important;
  }
}
